nav {
  padding: 45px 100px 0 100px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 57px;
    margin: 0;
  }
  li {
    list-style: none;
    font-size: 24px;
  }
  li:nth-of-type(1) {
    flex-grow: 1;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 20px 20px 0 20px;
    ul {
      gap: 26px;
    }
    li {
      font-size: 12px;
    }
  }
}
